<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="icon" type="image/png" href="/okoio-favicon.png">
  <title>{{ page.title }} | Jacob Okamoto | blog.oko.io</title>
  <meta name="viewport" content="width=device-width">
  <script src="//use.typekit.net/cdy3xzv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/blog.css">

</head>
<body>

  <div id="wrapper">
    <header>
      <section>
        <div id="wordmark"><a href="/"><img src="/img/okoio.svg" /></a></div>
        <p id="byline">babbling on the internet since tomorrow</p>
        <div class="clearfix"></div>
      </section>
    <hr/>
    </header>
    <div id="content">
    {{ content }}
    </div>
    <footer>
    <hr/>
      <section>
        <ul>
          <li>&copy;2014 Jacob Okamoto</li>
          <li>OKO -AT- OKO -DOT- IO</li>
        </ul>
      </section>
    </footer>
  </section>

</body>
</html>
